default_language_version:
  python: python3.13

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: CHANGELOG.md
      - id: check-docstring-first
      - id: check-json
      - id: check-yaml
        exclude: /template/
      - id: debug-statements
      - id: name-tests-test
        args: [--pytest]
      - id: requirements-txt-fixer
      - id: fix-encoding-pragma
        args: [--remove]
      - id: pretty-format-json
        args:
          - --autofix
          - --indent
          - "4"
          - --no-sort-keys

  - repo: https://github.com/asottile/pyupgrade
    rev: v1.12.0
    hooks:
      - id: pyupgrade
        args: [--py36-plus]

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
      - id: ruff
        name: ruff
        entry: ruff check
        language: system
        types: [python]
